@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v22/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v8/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
/*
font-family: 'Bebas Neue', cursive;
*/
/*CORES*/
/* Color Theme Swatches in Hex */
/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* NAVBAR*/
.header {
  border-bottom: 0px solid #FFFF;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #140a30;
}
.hamburger {
  display: none;
}
.navbar img {
  width: 15px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFF;
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  text-decoration: none;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #FFFF;
}
.nav-link:hover {
  color: #9C7DFA;
}
.nav-link:active {
  color: #9C7DFA;
}
.nav-link:visited {
  color: #9C7DFA;
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffffff;
}
.nav-logo:hover {
  color: #ffffff;
}
.nav-logo img {
  width: 45px;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    left: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: #140a30;
    width: 100%;
    color: #FFFF;
    height: 100vh;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-item {
    margin-left: 5rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
/* NAVBAR*/
/* HOME */
.header-section {
  /*pegar toda a tela*/
  width: 100%;
  height: 100vh;
  /*deixar a imagem aqui*/
  background: url(../img/white.jpg) no-repeat center;
  background-color: #6000a0;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
.jumbotron {
  padding: 15px;
  background-color: #6000a0;
  color: #FFFF;
  font-size: 14px;
  width: 450px;
  font-family: font-family 'Anton', sans-serif;
}
.form-horizontal {
  margin: 10px;
}
.lead {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2d0c8a;
}
.header-texto {
  padding: 25px;
  color: #140a30;
  text-align: center;
  font-weight: 400;
  text-shadow: 3px 3px rgba(255, 196, 0, 0.521);
}
.header-texto h1 {
  font-family: 'Anton', sans-serif;
}
@media only screen and (max-width: 770px) {
  .header-texto {
    margin-top: 145px;
  }
  .header-texto h1 {
    font-size: 120px;
  }
  .header-texto h2 {
    font-size: 40px;
  }
  .info {
    margin-top: 15px;
    padding: 25px;
  }
}
@media only screen and (min-width: 928px) {
  .header-texto h1 {
    font-size: 200px;
  }
  .header-texto h2 {
    font-size: 60px;
  }
}
.form-control {
  color: #6000a0;
  font-size: 12px;
  font-family: font-family Arial, Helvetica, sans-serif;
  font-weight: 800;
  height: 25px;
}
.btn {
  width: 100%;
  font-size: 20px;
  background-color: #FFCD00;
  color: #140a30;
  font-family: font-family Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.btn:hover {
  background-color: #9C7DFA;
  color: #FFFF;
}
.collapse {
  font-size: 15px;
}
/*info*/
.info {
  padding: 35px;
  font-size: 18px;
  background-color: #140a30;
  color: #FFFF;
  display: block;
  width: 100%;
  margin-top: 50px;
}
.info h2 {
  font-size: 30px;
  font-weight: 800;
  color: #FFCD00;
}
/*footer*/
footer {
  font-family: font-family Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6000a0;
  text-align: center;
  color: #FFCD00;
  width: 100%;
  height: 40px;
}
.fixar {
  position: fixed;
  bottom: 0;
}
.footer-link {
  font-family: font-family Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFCD00;
  text-decoration: none;
  padding: 5px;
  opacity: 0.7;
  transition: 0.5s;
}
.footer-link:hover {
  color: #FFFF;
}
/*footer*/
/* MENU SECUNDARIO light*/
#menu-secundario ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#menu-secundario ul li {
  display: inline;
}
#menu-secundario ul li a {
  padding: 2px 10px;
  display: inline-block;
  text-decoration: none;
  font-family: font-family Arial, Helvetica, sans-serif;
  color: #FFFF;
  font-size: 25px;
}
/* MENU SECUNDARIO light*/
/* MENU SECUNDARIO dark*/
#menu-secundario-dark ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
#menu-secundario-dark ul li {
  display: inline;
}
#menu-secundario-dark ul li a {
  padding: 2px 10px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  color: #FFFF;
  font-size: 25px;
}
/* MENU SECUNDARIO dark*/
@media screen and (max-width: 770px) {
  .ec-pricipal {
    width: 100%;
    height: fit-content;
    margin: auto;
  }
  .ec-pricipal img {
    width: 100%;
  }
  .ec-secundario {
    width: 100%;
    padding: 25px;
    height: fit-content;
    margin: auto;
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) {
  .info-encomendas {
    width: 100%;
    height: 100%;
  }
  .ec-pricipal {
    width: 40%;
    height: fit-content;
    margin: auto;
  }
  .ec-pricipal img {
    width: 600px;
  }
  .ec-secundario {
    width: 50%;
    padding: 15px;
    height: fit-content;
    margin: auto;
    font-size: 2.5rem;
  }
}
