/* Color Theme Swatches in Hex */
@qr-1-hex: #3D5A73;
@qr-2-hex: #4F6F8C;
@qr-3-hex: #fdfdfd;
@qr-4-hex: #ab30f2;
@qr-5-hex: #65038c;
@qr-6-hex: #111111;




body{
    background-color: @qr-5-hex;
    color: @qr-6-hex;
}
